<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear cliente</title>
</head>
<body>

<form action="#" th:action="@{/crear-cliente}" method="POST" th:object="${Cliente}">

    <label for="nombre">Nombre</label>
    <input th:field="*{nombre}" type="text" name="nombre" id="nombre">

    <label for="apellido">Apellido</label>
    <input th:field="*{apellido}" type="text" name="apellido" id="apellido">

    <label for="dni">DNI</label>
    <input th:field="*{dni}" type="number" name="dni" id="dni">

    <label for="email">Email</label>
    <input th:field="*{email}" type="email" name="email" id="email">

    <label for="password">Contraseña</label>
    <input th:field="*{password}" type="text" name="password" id="password">

    <label for="provincia">Provincia</label>
    <select th:field="*{provincia}" name="provincia" id="provincia">

        <option value="">Seleccione</option>
        <option value="buenos aires">Buenos Aires</option>
        <option value="cordoba">Cordoba</option>

    </select>

    <label for="localidad">Localidad</label>
    <select th:field="*{localidad}" name="localidad" id="localidad">

        <option value="">Seleccione</option>
        <option value="San justo">San justo</option>
        <option value="Villa Luzuriaga">Villa Luzuriaga</option>

    </select>

    <label for="domicilio">Domicilio</label>
    <input th:field="*{domicilio}" type="text" name="domicilio" id="domicilio">

    <label for="codigoPostal">Codigo Postal</label>
    <input th:field="*{codigoPostal}" type="text" name="codigoPostal" id="codigoPostal">

    <label for="telefono">Telefono</label>
    <input th:field="*{telefono}" type="text" name="telefono" id="telefono">

    <label for="telefonoMovil">Telefono Movil</label>
    <input th:field="*{telefonoMovil}" type="text" name="telefonoMovil" id="telefonoMovil">

    <p>Es abonado?</p>
    <input th:field="*{abonado}" type="radio" id="abonadoTrue" name="abonado" value="true">
    <label for="abonadoTrue">Si</label><br>
    <input th:field="*{abonado}" type="radio" id="abonadoFalse" name="abonado" value="false">
    <label for="abonadoFalse">No</label><br>
    

    <button type="submit">Crear</button>
    
</form>

<h1 th:if="${error} != null" th:text="${error}"> </h1>

<h1 th:if="${creacionExitosa} != null" th:text="${creacionExitosa}"> </h1>

</body>
</html>