<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

    <!-- Custom style -->
    <link rel="stylesheet" th:href="@{/css/nav.css}"/>
    <link rel="stylesheet" th:href="@{/css/vistaAdmin.css}"/>

</head>
<body>
    <nav>
        <ul>
            <li><a th:href="@{/ver-home}">Home</a></li>
            <li class="dropdown">
                <a href="#">Configuración</a>
                <ul class="submenu">
                    <li><a href="#">Vehículos</a></li>
                    <li><a th:href="@{/gestion-choferes}">Chofer</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#">Viajes</a>
                <ul class="submenu">
                    <li><a href="#">Planificación de viaje</a></li>
                    <li><a th:href="@{/gestion-recorrido}">Recorrido</a></li>
                </ul>
            </li>
            <li><a href="#">Operaciones</a></li>
            <li><a href="#">Reportes</a></li>
            <li><a href="#">APP</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="card green">
            <h2>Nuevas Reservas</h2>
            <p>0</p>
        </div>
        <div class="card blue">
            <h2>Reservas Utilizadas</h2>
            <p>0</p>
        </div>
        <div class="card pink">
            <h2>Reservas Canceladas</h2>
            <p>0</p>
        </div>
        <div class="card light-blue">
            <h2>Clientes Registrados</h2>
            <p>0</p>
        </div>
        <div class="card red">
            <h2>Clientes Bloqueados</h2>
            <p>0</p>
        </div>
        <div class="card grey">
            <h2>Créditos Activos</h2>
            <p>0</p>
        </div>
    </div>
</body>
</html>